
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="icon" href="~/icons/icon-security.png" type="image/ico" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
        <link rel="stylesheet" href="~/css/contacts.css" />
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/css/fading.css" />
        <link href="~/fontawesome-pro/css/all.css" rel="stylesheet" />
        <script src="https://api-maps.yandex.ru/2.1/?apikey=<53c71503-4541-48bd-8262-0e5d8ec21161>&lang=ru_RU" type="text/javascript"> </script>
    </environment>
</head>
<body>
    <div class="parallax">
        <div class="navigaion menu-content">
            <header>
                <nav>
                    <div class="logo">
                        @Html.ActionLink("ADVOKAT+", "Index", "Home", new { area = "" }, new { @class = "brand" })
                    </div>
                    <ul>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("index") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("about") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="About">Обо мне</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("legalpersons") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="LegalPersons">Юр. лицам</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("physicalpersons") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="PhysicalPersons">Физ. лицам</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("contacts") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="Contacts">Связаться</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <div >
        @RenderBody()
        <div id="loader" class="preloader"><div></div><div></div></div>
    </div>
    <br />
    <div class="container-footer-content">
        <div class="footer-content-header">
            <div class="footer-widget">
                <div>
                    <h4>О лицензии </h4>
                </div>
                <div>
                    <p>Лицензия на право<br />осуществления адвокатской деятельности<br />№02240/2949 от 22.12.2017</p>
                </div>

            </div>
            <div class="footer-widget">
                <div>
                    <h4>Навигация</h4>
                </div>
                <div>
                    <ul class="footer-widget-links">
                        <li><a href="/Home/Index">Домой</a></li>
                        <li><a href="/Home/LegalPersons">Юр. лицам</a></li>
                        <li><a href="/Home/PhysicalPersons">Физ. лицам</a></li>
                        <li><a href="/Home/Contacts">Контакты</a></li>
                        <li><a href="/Home/About">Обо мне</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-widget">
                <div>
                    <h4>Контактная информация</h4>
                </div>
                <div>
                    <ul class="footer-widget-links">
                        <li>Минская обл., Минский р-н, <br>д. Боровляны-2, ул. Хвойная 2,</li>
                        <li> Р-40, 1-й км2, ком. 27.  </li>
                        @*<li> 223053 г.п. Боровляны, Беларусь </li>*@
                        <li><a href="tel://375296589506">+375 29 658 95 06</a></li>
                        <li><a href="mailto:advokatplus@tut.by">advokatplus@tut.by</a></li>
                    </ul>
                </div>

            </div>
            <div class="footer-widget">
                <div>
                    <h4>Часы работы</h4>
                </div>
                <div>
                    <ul class="footer-widget-links">
                        <li>Пн - Чт: 9:00 - 20: 00</li>
                        <li>Пт 8:00 - 18: 00</li>
                        <li>Сб 9:30 - 15: 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <footer>
            <p>&copy; All Rights Reserved.</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/js/loader.js"></script>
        <script src="~/js/map.js"></script>
        @*<script src="~/js/loader.js" asp-append-version="true"></script>*@
    </environment>

    @*@RenderSection("Scripts", required: false)*@

</body>
</html>
