
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
    </environment>
</head>
<body>
    <div class="overlay">
        <div class="navigaion menu-content">
            <header>
                <nav>
                    <ul>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("index") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("about") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="About">Обо мне</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("legalpersons") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="LegalPersons">Юр. лицам</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("physicalpersons") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="PhysicalPersons">Физ. лицам</a></li>
                        <li class="@(Context.Request.Path.Value.ToLower().Contains("contacts") ? "active " : "" ) "><a class="a" asp-area="" asp-controller="Home" asp-action="Contacts">Связаться</a></li>

                    </ul>
                </nav>
            </header>
            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>

    <div class="container footer-content">
        <footer>
            <p>&copy; 2018 - Advokat+</p>
        </footer>
    </div>
    <environment include="Development">
        @*<script src="~/js/"></script>*@
        @* <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
